@model ProgettoS6GestionaleHotelSabrinaCinque.Models.CheckoutViewModel

@{
    ViewData["Title"] = "Check-out";

    decimal prezzoGiornalieroTipologia = 0;
    switch (Model.Prenotazione.TipologiaSoggiorno.ToLower())
    {
        case "mezza pensione":
            prezzoGiornalieroTipologia = 20;
            break;
        case "pensione completa":
            prezzoGiornalieroTipologia = 30;
            break;
        case "pernottamento con prima colazione":
            prezzoGiornalieroTipologia = 5;
            break;
    }
}

<h2>Riepilogo Check-out</h2>

<p>Cliente: @Model.Prenotazione.Cliente.Cognome @Model.Prenotazione.Cliente.Nome</p>
<p>Camera: @Model.Prenotazione.Camera.Descrizione</p>
<p>Dal: @Model.Prenotazione.Dal.ToShortDateString()</p>
<p>Al: @Model.Prenotazione.Al.ToShortDateString()</p>
<p>Tariffa giornaliera: @Model.Prenotazione.Tariffa.ToString("C")</p>
<p>Caparra: @Model.Prenotazione.Caparra.ToString("C")</p>
<p>Tipologia Soggiorno giornaliera: @Model.Prenotazione.TipologiaSoggiorno - @prezzoGiornalieroTipologia.ToString("C")</p>
<h5>Servizi Aggiuntivi:</h5>
<ul>
    @foreach (var servizio in Model.Prenotazione.Servizi)
    {
        <li>@servizio.Descrizione - @servizio.Prezzo.ToString("C")</li>
    }
</ul>

<h2 class="mt-5 mb-3">Riepilogo Totale:</h2>
<h4>Totale Stanza : <span> @Model.TotaleStanza.ToString("C")</span></h4>
<h4>+ Totale Servizi Aggiuntivi:<span> @Model.TotaleServizi.ToString("C")</span></h4>
<h4>+ Extra Soggiorno (@Model.Prenotazione.TipologiaSoggiorno): <span> @Model.ExtraSoggiorno.ToString("C")</span></h4>
<h4>- Caparra Iniziale: <span> @Model.Prenotazione.Caparra.ToString("C")</span></h4>
<h1>-----------------------------------------</h1>
<h3>Totale Da Saldare: @Model.Totale.ToString("C")</h3>

<p>
    <a asp-action="Index" class="btn btn-primary">Indietro</a>
    <a asp-action="DownloadPdf" asp-route-id="@Model.Prenotazione.Id" class="btn btn-success">Scarica PDF</a>
</p>
