<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgettoS6GestionaleHotelSabrinaCinque</title>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand linkNav" href="@Url.Action("Index", "Home")">Gestionale Hotel</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link linkNav" asp-controller="Clienti" asp-action="Index">Anagrafica Cliente</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkNav" asp-controller="Camere" asp-action="Index">Tipologia Camere</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkNav" asp-controller="Servizi" asp-action="Index">Servizi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkNav" asp-controller="Prenotazioni" asp-action="Index">Prenotazioni</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link linkNav" asp-controller="Ricerca" asp-action="Index">Ricerca</a>
                        </li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (User.Identity != null && User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link linkNav" asp-controller="Account" asp-action="Logout">Logout (@User.Identity.Name)</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link linkNav" asp-controller="Account" asp-action="Login">Login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
